*{
    padding: 0;
    margin: 0;
     font-family:  "Ubuntu", sans-serif;
}

li{
    list-style: none;
}
body{
    background-image: linear-gradient(to right,#B0DB9C,  #FFE8CD);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #c1d75d;
    box-shadow: 0px 0px 10px  #8d9983 ;
    height: 50px;
    text-decoration: none;
    width: 100wh;
    position: sticky;
    top: 0;
}
nav span:nth-child(1){
    
    margin-left: 20px;
    font-size: 1.5rem;
}
nav span:nth-child(2){
    width: 50%;
     margin-right: 20px;
    display: flex;
    justify-content: space-around;
}
.search{
    width: 30%;
    display: flex;
    gap: 5px;
}
.nav{
    margin-top:5px ;
    color: rgb(0, 0, 0);
}
.search input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: px 20px;
}
.search button{
   
    border-radius: 5px;
    border: none;
    padding: 0px 15px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.gif{
    border-radius: 60%;

}.share{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    /* border: 1px solid #000; */

}#share-span1{
    flex: 1;
    display: flex;
    align-items: center;
    
    border: 1px solid #be2626;
}
#share-span2{
    display: flex;
    flex: 1;
    
}